.allplay {
  height: auto;
  position: relative;
  z-index: 1;
  background-color: white;
  transform: none;
  transition: transform 0.2s cubic-bezier(0, 0, 0.31, 1);
  padding-bottom: 49px;
  .fHCRCe {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 10px;
  }
  .gLHRUG {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .blWssj {
    font-size: 12px;
    color: #5E5E5E;
    padding-right: 10px;
  }
  .Rmvvy {
    color: #ec2829;
  }
  .emnLna {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .kbcsar {
    padding: 16px 10px 5px 10px;
  }
  .cQvKmF {
    font-size: 12px;
    line-height: 14px;
    padding-left: 4px;
    padding-right: 7px;
    border-left: 2px solid #ec2829;
    font-weight: 600;
  }
  .hhCauo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .glkCJe {
    line-height: 2;
    min-width: 60px;
    margin: 5px;
  }
  .KfQwo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: #f6f6f6;
    border: 1px solid #e6e6e6;
    padding: 9px 0;
    border-radius: 3px;
    background-color: #ec2829;
    border-color: #ec2829;
    div {
      color: #fff;
    }
  }
  .dZFxsZ {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: #f6f6f6;
    border: 1px solid #e6e6e6;
    padding: 9px 0;
    border-radius: 3px;
  }
  .jSRFHP {
    font-size: 12px;
    color: #454545;
  }
  .eMSXrx {
    background-color: #e6e6e6;
    height: 1px;
    margin: 5px 10px 0 10px;
  }
  .iJMqhS {
    font-size: 17px;
    color: #e8173d;
    line-height: 20px;
  }
  .iwMLsm {
    font-size: 12px;
    color: #454545;
  }
}

.knIupw {
  position: fixed;
  bottom: 0;
  margin-bottom: 0;
  width: 100%;
  z-index: 500;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  .eGcDGy {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background-color: rgba(0, 0, 0, 0.78);
    font-size: 13px;
  }
  .LavIV {
    min-width: 12px;
    color: #ffed00;
    line-height: 49px;
    text-align: right;
  }
  .cAdVeW {
    color: #ffffff;
    line-height: 49px;
  }
  .bvJYXo {
    width: 10px;
  }
  .cAdVeW {
    color: #ffffff;
    line-height: 49px;
  }
  .llQcft {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 12px;
    color: #ffed00;
    line-height: 49px;
    text-align: right;
  }
  .cAdVeW {
    color: #ffffff;
    line-height: 49px;
  }
  .gLHRUG {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .jSdmXo {
    margin: auto auto auto 5px;
  }
  .jSdmXo input {
    width: 80px;
    height: 30px;
    color: #9b9b9b;
    border: 1px solid #9b9b9b;
    background: none;
    font-size: 13px;
    line-height: 1em;
    text-align: center;
  }
  .hZmkZU {
    margin: 7px 10px;
    width: 70px;
  }
  .hZmkZU button {
    line-height: 35px;
    overflow: hidden;
    white-space: nowrap;
    outline: none;
    &:active{
      background: #8e0c23;
    }
  }
  .hDNuMh{
    color: #eee;
    font-size: 35px;
    line-height: 45px;
  }
  .hKEGyg {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 40px;
    text-align: center;
    background: #ec2829;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    border-radius: 3px;
    border-width: 0;
    border-color: #ec2829;
    padding: 0 4px;
    position: relative;
  }
  button,
  html [type="button"],
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: button;
  }
}
