@namespace: vux;

@theme-color: #ec2829;
@font-color: #434343;
@border-color: #e1e1e1;
// @theme-color: green;

/** x-header */
@header-background-color: @theme-color;
@header-title-color: #fff;
@header-text-color: #fff;
@header-arrow-color: #fff;

/** tabbar */
@tabbar-text-active-color: @theme-color;

/** dialog */
@dialog-button-text-primary-color: @theme-color;

// @cell-label-color: #5e5e5e;
@cell-font-size: 14px;
// @cell-tips-font-size: 14px;

@toast-content-font-size: 14px;

// x-number
@number-button-font-color: @theme-color;
@number-round-button-enabled-border-color: @theme-color;

// actionsheet
@actionsheet-label-primary-color: @theme-color;
@actionsheet-label-default-color: @font-color;

//
@checklist-icon-active-color: @theme-color;

